<?xml version="1.0" encoding="UTF-8"?>
<application
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="app.xsd">
    
    <matieres>
        <matiere code="m1">
            <nom>maths</nom>
            <description>matiere scientifique</description>
        </matiere>
        <matiere code="m2">
            <nom>physique</nom>
            <description>matiere scientifique</description>
        </matiere>
        <matiere code="m3">
            <nom>arabe</nom>
            <description>matiere litteraire</description>
        </matiere>
    </matieres>
    <etudiants>
        <etudiant cne="N123242343">
           <nom>tmimi</nom> 
           <prenom>mehdi</prenom>
           <date_naissance>1992-06-04</date_naissance>
           <notes>
               <note id="n1" matiereRef="m1">
                   <valeur>10</valeur>  
               </note>
           </notes>
        </etudiant>
        <etudiant cne="N123242344">
            <nom>sayagh</nom> 
            <prenom>touria</prenom>
            <date_naissance>2000-06-18</date_naissance>
            <notes>
                <note id="n2" matiereRef="m1">
                    <valeur>15</valeur>  
                </note>
                <note id="n3" matiereRef="m3">
                    <valeur>12</valeur>  
                </note>
            </notes>
         </etudiant>
    </etudiants>
</application>